.cube-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #e0e0e0;
    padding: 5px;
}

.cube-side {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #e0e0e0;
    padding: 5px;
}

.cube-square {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    aspect-ratio: 1;
}

.side-1 {
    grid-row: 1;
    grid-column: 2;
}

.side-2 {
    grid-row: 2;
    grid-column: 1;
}

.side-3 {
    grid-row: 2;
    grid-column: 2;
}

.side-4 {
    grid-row: 2;
    grid-column: 3;
}

.side-5 {
    grid-row: 3;
    grid-column: 2;
}

.side-6 {
    grid-row: 4;
    grid-column: 2;
}

.square-color-1 {
    background-color: lightpink;
}

.square-color-2 {
    background-color: greenyellow;
}

.square-color-3 {
    background-color: yellow;
}

.square-color-4 {
    background-color: cyan;
}

.square-color-5 {
    background-color: white;
}

.square-color-6 {
    background-color: orange;
}